@charset "UTF-8";
.at-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #1f2d3d;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
}

.at-button + .at-button {
    margin-left: 10px;
}

.at-button:focus,
.at-button:hover {
    color: #20a0ff;
    border-color: #20a0ff;
}

.at-button:active {
    color: #1d90e6;
    border-color: #1d90e6;
    outline: 0;
}

.at-button::-moz-focus-inner {
    border: 0;
}

.at-button [class*="at-icon-"] + span {
    margin-left: 5px;
}

.at-button.is-loading {
    position: relative;
    pointer-events: none;
}

.at-button.is-loading:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.35);
}

.at-button.is-disabled,
.at-button.is-disabled:focus,
.at-button.is-disabled:hover {
    color: #828890;
    cursor: not-allowed;
    background-image: none;
    background-color: #eeeeee;
    border-color: #d1dbe5;
}

.at-button.is-disabled.at-button--text {
    background-color: transparent;
}

.at-button.is-disabled.is-plain,
.at-button.is-disabled.is-plain:focus,
.at-button.is-disabled.is-plain:hover {
    background-color: #eeeeee;
    border-color: #d1dbe5;
    color: #828890;
}

.at-button.is-active {
    color: #1d90e6;
    border-color: #1d90e6;
}

.at-button.is-plain:focus,
.at-button.is-plain:hover {
    background: #fff;
    border-color: #20a0ff;
    color: #20a0ff;
}

.at-button.is-plain:active {
    background: #fff;
    border-color: #1d90e6;
    color: #1d90e6;
    outline: 0;
}

.at-button--primary {
    color: #fff;
    background-color: #1f92ef;
    border-color: #20a0ff;
}

.at-button--primary:focus,
.at-button--primary:hover {
    background: #57b4ff;
    border-color: #4db3ff;
    color: #fff;
}

.at-button--primary.is-active,
.at-button--primary:active {
    background: #1f92ef;
    border-color: #1d90e6;
    color: #fff;
}

.at-button--primary:active {
    outline: 0;
}

.at-button--primary.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
}

.at-button--primary.is-plain:focus,
.at-button--primary.is-plain:hover {
    background: #fff;
    border-color: #20a0ff;
    color: #20a0ff;
}

.at-button--primary.is-plain:active {
    background: #fff;
    border-color: #1d90e6;
    color: #1d90e6;
    outline: 0;
}

.at-button--success {
    color: #fff;
    background-color: #13ce66;
    border-color: #13ce66;
}

.at-button--success:focus,
.at-button--success:hover {
    background: #42d885;
    border-color: #42d885;
    color: #fff;
}

.at-button--success.is-active,
.at-button--success:active {
    background: #11b95c;
    border-color: #11b95c;
    color: #fff;
}

.at-button--success:active {
    outline: 0;
}

.at-button--success.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
}

.at-button--success.is-plain:focus,
.at-button--success.is-plain:hover {
    background: #fff;
    border-color: #13ce66;
    color: #13ce66;
}

.at-button--success.is-plain:active {
    background: #fff;
    border-color: #11b95c;
    color: #11b95c;
    outline: 0;
}

.at-button--warning {
    color: #fff;
    background-color: #f7ba2a;
    border-color: #f7ba2a;
}

.at-button--warning:focus,
.at-button--warning:hover {
    background: #f9c855;
    border-color: #f9c855;
    color: #fff;
}

.at-button--warning.is-active,
.at-button--warning:active {
    background: #dea726;
    border-color: #dea726;
    color: #fff;
}

.at-button--warning:active {
    outline: 0;
}

.at-button--warning.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
}

.at-button--warning.is-plain:focus,
.at-button--warning.is-plain:hover {
    background: #fff;
    border-color: #f7ba2a;
    color: #f7ba2a;
}

.at-button--warning.is-plain:active {
    background: #fff;
    border-color: #dea726;
    color: #dea726;
    outline: 0;
}

.at-button--danger {
    color: #fff;
    background-color: #ff4949;
    border-color: #ff4949;
}

.at-button--danger:focus,
.at-button--danger:hover {
    background: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff;
}

.at-button--danger.is-active,
.at-button--danger:active {
    background: #e64242;
    border-color: #e64242;
    color: #fff;
}

.at-button--danger:active {
    outline: 0;
}

.at-button--danger.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
}

.at-button--danger.is-plain:focus,
.at-button--danger.is-plain:hover {
    background: #fff;
    border-color: #ff4949;
    color: #ff4949;
}

.at-button--danger.is-plain:active {
    background: #fff;
    border-color: #e64242;
    color: #e64242;
    outline: 0;
}

.at-button--info {
    color: #fff;
    background-color: #50bfff;
    border-color: #50bfff;
}

.at-button--info:focus,
.at-button--info:hover {
    background: #73ccff;
    border-color: #73ccff;
    color: #fff;
}

.at-button--info.is-active,
.at-button--info:active {
    background: #48ace6;
    border-color: #48ace6;
    color: #fff;
}

.at-button--info:active {
    outline: 0;
}

.at-button--info.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
}

.at-button--info.is-plain:focus,
.at-button--info.is-plain:hover {
    background: #fff;
    border-color: #50bfff;
    color: #50bfff;
}

.at-button--info.is-plain:active {
    background: #fff;
    border-color: #48ace6;
    color: #48ace6;
    outline: 0;
}

.at-button--large {
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 4px;
}

.at-button--small {
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 4px;
}

.at-button--mini {
    padding: 4px;
    font-size: 12px;
    border-radius: 4px;
}

.at-button--text {
    border: none;
    color: #20a0ff;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
}

.at-button--text:focus,
.at-button--text:hover {
    color: #4db3ff;
}

.at-button--text:active {
    color: #1d90e6;
}

.at-button-group {
    display: inline-block;
    vertical-align: middle;
}

.at-button-group:after,
.at-button-group:before {
    display: table;
    content: "";
}

.at-button-group:after {
    clear: both;
}

.at-button-group .at-button--primary:first-child {
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--primary:last-child {
    border-left-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--primary:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--success:first-child {
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--success:last-child {
    border-left-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--success:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--warning:first-child {
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--warning:last-child {
    border-left-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--warning:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--danger:first-child {
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--danger:last-child {
    border-left-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--danger:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--info:first-child {
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--info:last-child {
    border-left-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button--info:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5);
}

.at-button-group .at-button {
    float: left;
    position: relative;
}

.at-button-group .at-button + .at-button {
    margin-left: 0;
}

.at-button-group .at-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.at-button-group .at-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.at-button-group .at-button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.at-button-group .at-button:not(:last-child) {
    margin-right: -1px;
}

.at-button-group .at-button.is-active,
.at-button-group .at-button:active,
.at-button-group .at-button:focus,
.at-button-group .at-button:hover {
    z-index: 1;
}

/************************* custom *****************************/

.at-button {
    padding: 0px;
    width: 84px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 1px;
}

/*默认按钮*/

.at-button--default,
.at-button--default:focus {
    color: #5c6781;
    border-color: #bfcbd9;
    border: 1px solid #EEEEEE;
}

.at-button--default:hover {
    color: #1f92ef;
    border-color: #1f92ef;
}

.at-button--default:active {
    color: #ffffff;
    border-color: #4990ff;
    background-color: #1f92ef;
}

/*主要按钮*/

.at-button--primary,
.at-button--primary:focus {
    color: #fff;
    background-color: #1F92EF;
    border-color: #4990ff;
}

.at-button--primary:hover {
    color: #fff;
    background-color: #57B4FF;
    border-color: #66a2ff;
}

.at-button--primary:active {
    color: #fff;
    background-color: #1F92EF;
    border-color: #3781f4;
}

/* 二级默认按钮*/

.at-button--important,
.at-button--important:focus {
    color: #fff;
    background-color: #333f5d;
    border-color: #4e5c7d;
}

.at-button--important:hover {
    color: #fff;
    background-color: #3d4967;
    border-color: #4e5c7d;
}

.at-button--important:active {
    color: #fff;
    background-color: #2d3855;
    border-color: #4e5c7d;
}

/*禁用按钮默认*/

.at-button.is-disabled.is-plain,
.at-button.is-disabled.is-plain:focus,
.at-button.is-disabled.is-plain:hover {
    color: #828890;
    border-color: #dbe2ea;
}

/*禁用按钮主要*/

.at-button.is-disabled,
.at-button.is-disabled:focus,
.at-button.is-disabled:hover {
    color: #828890;
    background-color: #EEEEEE;
}

/* 较小按钮*/

.at-button--small {
    width: 70px;
    height: 25px;
    line-height: 25px;
}

/*常规长度按钮*/

.at-button--big {
    width: 106px;
    height: 30px;
    line-height: 30px;
}

/* 过长文字按钮*/

.at-button--bigger {
    width: initial;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
}

/*新增按钮*/

.at-img-add,
.at-img-add:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/add1.png") no-repeat 23% 50%;
}

.at-img-add:hover {
    background: url("../theme-default/assets/button/add2.png") no-repeat 23% 50%;
}
.at-img-add:active {
    color: #ffffff;
    border-color: #4990ff;
    background: #1f92ef url("../theme-default/assets/button/add3.png") no-repeat 23% 50%;
}


.at-primaryImg-add,
.at-primaryImg-add:focus {
    text-indent: 23%;
    background: #4990ff url("../theme-default/assets/button/add3.png") no-repeat 23% 50%;
}

.at-primaryImg-add:hover {
    background: #66a2ff url("../theme-default/assets/button/add3.png") no-repeat 23% 50%;
}

.at-primaryImg-add:active {
    background: #3781f4 url("../theme-default/assets/button/add3.png") no-repeat 23% 50%;
}

/*导出按钮*/

.at-img-output,
.at-img-output:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/output1.png") no-repeat 23% 50%;
}

.at-img-output:hover {
    background: url("../theme-default/assets/button/output2.png") no-repeat 23% 50%;
}
.at-img-output:active {
    color: #ffffff;
    border-color: #4990ff;
    background: #1f92ef url("../theme-default/assets/button/output3.png") no-repeat 23% 50%;
}
.at-primaryImg-output,
.at-primaryImg-output:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/output3.png") no-repeat 23% 50%;
    background-color: #4990ff;
}

.at-primaryImg-output:hover {
    background: url("../theme-default/assets/button/output3.png") no-repeat 23% 50%;
    background-color: #66a2ff;
}

.at-primaryImg-output:active {
    background: url("../theme-default/assets/button/output3.png") no-repeat 23% 50%;
    background-color: #3781f4;
}

/*导入按钮*/

.at-img-input,
.at-img-input:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/input1.png") no-repeat 23% 50%;
}

.at-img-input:hover {
    background: url("../theme-default/assets/button/input2.png") no-repeat 23% 50%;
}

.at-img-input:active {
    color: #ffffff;
    border-color: #4990ff;
    background: #1f92ef url("../theme-default/assets/button/input3.png") no-repeat 23% 50%;
}
.at-primaryImg-input,
.at-primaryImg-input:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/input3.png") no-repeat 23% 50%;
    background-color: #4990ff;
}

.at-primaryImg-input:hover {
    background: #66a2ff url("../theme-default/assets/button/input3.png") no-repeat 23% 50%;
}

.at-primaryImg-input:active {
    background: url("../theme-default/assets/button/input3.png") no-repeat 23% 50%;
    background-color: #3781f4;
}

/*删除按钮*/

.at-img-delete {
    text-indent: 23%;
    background: url("../theme-default/assets/button/del1.png") no-repeat 23% 50%;
}

.at-img-delete:focus,
.at-img-delete:hover {
    background: url("../theme-default/assets/button/del2.png") no-repeat 23% 50%;
}

.at-img-delete:active {
    color: #ffffff;
    border-color: #4990ff;
    background: #1f92ef url("../theme-default/assets/button/del3.png") no-repeat 23% 50%;
}
.at-primaryImg-delete,
.at-primaryImg-delete:focus {
    text-indent: 23%;
    background: #4990ff url("../theme-default/assets/button/del3.png") no-repeat 23% 50%;
}

.at-primaryImg-delete:hover {
    background: #66a2ff url("../theme-default/assets/button/del3.png") no-repeat 23% 50%;
}

.at-primaryImg-delete:active {
    background: #3781f4 url("../theme-default/assets/button/del3.png") no-repeat 23% 50%;
}

/*修改按钮*/

.at-img-change,
.at-img-change:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/change1.png") no-repeat 23% 50%;
}

.at-img-change:hover {
    background: url("../theme-default/assets/button/change2.png") no-repeat 23% 50%;
}

.at-img-change:active {
    color: #ffffff;
    border-color: #4990ff;
    background: #1f92ef url("../theme-default/assets/button/change3.png") no-repeat 23% 50%;
}
.at-primaryImg-change,
.at-primaryImg-change:focus {
    text-indent: 23%;
    background: #4990ff url("../theme-default/assets/button/change3.png") no-repeat 23% 50%;
}

.at-primaryImg-change:hover {
    background: #66a2ff url("../theme-default/assets/button/change3.png") no-repeat 23% 50%;
}

.at-primaryImg-change:active {
    background: #3781f4 url("../theme-default/assets/button/change3.png") no-repeat 23% 50%;
}

/*下载按钮*/

.at-img-download,
.at-img-download:focus {
    text-indent: 23%;
    background: url("../theme-default/assets/button/download1.png") no-repeat 23% 50%;
}

.at-img-download:hover {
    background: url("../theme-default/assets/button/download2.png") no-repeat 23% 50%;
}

.at-img-download:active {
    color: #ffffff;
    border-color: #4990ff;
    background: #1f92ef url("../theme-default/assets/button/download3.png") no-repeat 23% 50%;
}
.at-primaryImg-download,
.at-primaryImg-download:focus {
    text-indent: 23%;
    background: #4990ff url("../theme-default/assets/button/download3.png") no-repeat 23% 50%;
}

.at-primaryImg-download:hover {
    background: #66a2ff url("../theme-default/assets/button/download3.png") no-repeat 23% 50%;
}

.at-primaryImg-download:active {
    background: #3781f4 url("../theme-default/assets/button/download3.png") no-repeat 23% 50%;
}